.bg_div{
    width: 100%;
    height: 150px;
    display: flex;
    align-self: center;
    justify-content: center;
    background: linear-gradient(180deg, #101010 0%, #031729 0.01%, #0A0A0A 100%);
}

.bg_div img{
    width: 100%;
    max-width: 700px;
}